.THIS .AMBER svg {
    fill: #ffc200 !important;
}

.THIS .RED svg {
    fill: rgb(194, 57, 52) !important;
}

.THIS .GREEN svg {
    fill: green !important;
}

.THIS .rightAlignText {
    text-align: right;
}