.THIS .width--100pct {
    width: 100%;
}

.THIS .bg-color--black {
    background-color: black;
}

.THIS .bg-color--brand {
    background-color: #f48026;
}

.THIS .margin-left--75pct {
    margin-left: 75%;
}