.THIS .div--bg-border-color {
    background-color: #f2f2f2;
    /* background-color: rgb(244, 128, 38); */
    border: 2px solid #ccc;
    border-radius: 5px;
}

.THIS .div--padding-10px {
    padding: 10px;
}

.THIS .div--align-left {
    justify-content: left;
    color: white;
}

.THIS .div--bg-color {
    background-color: rgb(244, 128, 38);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(218, 94, 0);
}

.THIS .ul--dropdown {
    display: block;
    height: auto;
    overflow: auto;
    max-height: 10rem;
    font-size: 0.825rem;
    z-index: 1;
    position: absolute;
    left: 50%;
    float: left !important;
    margin-top: 0.125rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px;
    transform: translateX(-50%);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(244, 244, 244);
    border-image: initial;
    border-radius: 0.25rem;
    padding: 0.25rem 0px;
    background: rgb(255, 255, 255);
}

.THIS .div--product-item-box {
    background-color: #ffffff;
    border: 2px solid #555;
    margin-bottom: 5px;
    padding-top: 1px;
    border-radius: 5px;
}

.THIS .div__img--product-container {
    margin: auto;
    display: block;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.THIS .globalProductItemBlurb {
    padding: 1em 0.75em;
    text-align: center;
}

.THIS .globalProductItemBody {
    background-color: #555555;
    color: #fff;
    position: relative;
}

.THIS .li__a--design {
    background-color: rgb(244, 128, 38);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem !important;
    line-height: 1.7rem;
}

.THIS .slds-breadcrumb__item:before {
    display: none;
}

.THIS .slds-breadcrumb__item {
    margin: 0.2rem;
    margin-left: unset;
}

.THIS .slds-breadcrumb__item--active {
    border-radius: 5px 0 0 5px;
    padding: 0.3rem 1.3rem !important;
}

.THIS .li__a--design:after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: rgb(244, 128, 38);
    box-shadow: 2px -2px 0 2px #fff, 3px -3px 0 2px #fff;
    border-radius: 0 5px 0 50px;
}

.THIS .slds-breadcrumb > li:first-child > a {
    padding: 0.3rem 0.825rem !important;
}

.THIS .slds-breadcrumb > li:last-child > a:after {
    content: none !important;
}

.THIS .slds-breadcrumb > li:last-child > a {
    border-radius: 0 5px 5px 0;
}

.THIS .globalProductItemButton:hover {
    background-color: rgb(244, 128, 38);
}

.THIS a {
    text-decoration: unset;
}

.THIS ol > li:only-of-type > a {
    border-radius: 5px !important;
}

.THIS .div--margin-top-1rem {
    margin-top: 1rem;
}

.THIS .div--margin-top-half-rem {
    margin-top: .5rem;
}

.THIS .div--padding-half-rem {
    padding: .5rem;
}

.THIS .div--padding-1rem {
    padding: 1rem;
}

.THIS .div--margin-bottom-1rem {
    margin-bottom: 1rem;
}

.THIS .slds-combobox {
    background: #f2f2f2;
}