.THIS .input-container {
    padding: 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: flex;
    flex: 1 1 auto;
}

.THIS .div-width-100pct {
    width: 100%;
}

.THIS .icon-padding {
    padding: 0.5em;
}

.THIS .input {
    font-size: 0.8125rem;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    -webkit-appearance: none;
}

.THIS .input input {
    border: unset;
}

.THIS .margin-bottom-2pct {
    margin-bottom: 2%;
}

.THIS .margin-top-2pct {
    margin-top: 2%;
}

.THIS .loginButton {
    background-color: #f48026;
    border: none;
    color: #fff;
    height: 35px;
    margin: 5px 0 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    border-radius: 4px;
}

.THIS .error-container {
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-weight: 400;
}