.THIS .slds-carousel__panel-action {
    border-style: none;
}

.THIS .slds-carousel__panel {
    margin: 0.5%;
}

.THIS .active > .redeem-item-opt {
    border-style: solid !important;
    border-color: #f48026 !important;
    border-width: medium;
}

.THIS button.slick-prev.slick-arrow:before,
.THIS button.slick-next.slick-arrow:before {
    color: #c0c0c0;
}

.THIS button.slick-prev.slick-arrow,
.THIS button.slick-next.slick-arrow {
    transform: scale(2.5);
}

.THIS button.slick-prev.slick-arrow:hover:before,
.THIS button.slick-next.slick-arrow:hover:before {
    color: #f48026;
}

.THIS .slick-dots li button:hover:before,
.THIS .slick-dots li.slick-active button:before {
    color: #f48026;
}

.THIS .categoryImage {
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
}

.THIS .disclaimer-message {
    color: red;
    text-align: center;
    padding: 0 0.5rem;
}

.THIS .disabled {
    -moz-filter: opacity(0.2);
    -o-filter: opacity(0.2);
    -ms-filter: opacity(0.2);
    filter: opacity(0.2);
    pointer-events: none;
}

@media only screen and (min-width: 768px) {
    .THIS .disclaimer-message {
        text-align: left;
    }
}