.THIS .promoBtn {
    width: 70%;
    height: 50%;
    cursor: pointer;
}

.THIS .icon-text_orange {
    fill: #f48026;
}

.THIS .border-color_orange {
    border-color: #f48026;
}

.THIS .div--background-color-brand {
    background-color: #f48026;
}

.THIS .div__lightning-button {
    background-color: #f48026;
    border: none;
    color: #fff;
    height: 27px;
    margin: 5px 5px 0 5px;
    text-align: center;
    text-transform: uppercase;
}

.THIS .span__lightning-icon {
    padding-top: 0;
    padding-left: 0;
}

.THIS .span__lightning-icon svg {
    fill: #f48026;
}

.THIS .slds-icon-action-share-thanks {
    background-color: white;
}

.THIS .div--margin-top-0 {
    margin-top: 0;
}