.THIS .mainSelectionDiv {
    font-family: "Helvetica Now Var", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.THIS .div--bg-border-color {
    border-top: 2px solid #cccccc;
    margin-top: 80px;
}

.THIS .searchContent {
    padding: 80px 0px 80px 135px;
    display: grid;
}

.THIS .slds-gutters {
    display: inherit;
    margin-right: 135px;
}

.THIS .slds-col {
    width: inherit;
}


.THIS .div--align-left {
    justify-content: left;
}

.THIS .ul--dropdown {
    display: block;
    height: auto;
    overflow: auto;
    max-height: 10rem;
    font-size: 0.825rem;
    z-index: 1;
    position: absolute;
    left: 50%;
    float: left !important;
    margin-top: 0.125rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px;
    transform: translateX(-50%);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(244, 244, 244);
    border-image: initial;
    border-radius: 0.25rem;
    padding: 0.25rem 0px;
    background: rgb(255, 255, 255);
}

.THIS .div--product-item-box {
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-top: 32px;
    min-height: 290px;
    display: grid;
    align-content: space-around;
    width: 330px;
    height: auto;
}

.THIS .productCategoryContent .div--product-item-box {
    justify-self: center;
}

.THIS .div__img--searchproduct-container {
    display: block;
    max-width: 234px;
    max-height: 234px;
    justify-self: center;
}

.THIS .div__img--product-container {
    margin: auto;
    display: block;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.THIS .globalProductItemBlurb {
    padding: 1em 0.75em;
    text-align: left;
}

.THIS .globalProductItemBlurb p {
    padding: 1em 0.75em;
    text-align: center;
}

.THIS .globalProductItemBody {
    position: relative;
}

.THIS .li__a--design {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem !important;
    line-height: 1.7rem;
}

.THIS .slds-breadcrumb__item:before {
    display: none;
}

.THIS .slds-breadcrumb__item {
    margin: 0.2rem;
    margin-left: unset;
}

.THIS .slds-breadcrumb__item--active {
    border-radius: 5px 0 0 5px;
    padding: 0.3rem 1.3rem !important;
}

.THIS .li__a--design:after {
    margin: 10px 15px 0px 0px;
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 15px;
    height: 15px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    box-shadow: 2px -2px 0 2px #D9E409, 3px -3px 0 2px #D9E409;
    border-radius: 0 5px 0 50px;
}
.THIS .breadcrumbsContent {
    height: 128px;
    display: flex;
    align-items: center;
    padding: 32px 0px 40px 0px;
    
}

.THIS .slds-breadcrumb {
    /* Heading/H3 - 48 Bold */
    font-family: "Helvetica Now Var",Helvetica;
    font-size: 48px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.48px;
}

.THIS .slds-breadcrumb > li:first-child > a {
    padding: 0.3rem 0.825rem !important;
}

.THIS .slds-breadcrumb > li:last-child > a:after {
    content: none !important;
}

.THIS .slds-breadcrumb > li:last-child > a {
    border-radius: 0 5px 5px 0;
}

.THIS .slds-breadcrumb > li > a {
    font-size: 12px;
}

.THIS a {
    text-decoration: unset;
}

.THIS ol > li:only-of-type > a {
    border-radius: 5px !important;
}

.THIS .div--margin-top-1rem {
    margin-top: 1rem;
}

.THIS .div--margin-top-half-rem {
    margin-top: .5rem;
}

.THIS .categoryContent {
    padding: 64px 135px 0px 135px;
}

.THIS .div--padding-1rem {
    padding: 1rem;
}

.THIS .globalProductItemButton {
    background-color: black;
    border-color: black;
    border-radius: 25px;
    color: #D9E409;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 300;
}

.THIS h2 {
    background: none !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.THIS div[class="slds-form-element__control"] input[class="slds-input"] {
    margin-top: 24px;
    padding-left: 5px;
}

.THIS div[class="slds-form-element__control"] input[class="slds-input"]:focus {
    border-color: #D9E409;
}

.THIS .slds-listbox > li:hover {
    background-color: #D9E409;
}

.THIS div[class="slds-form-element__control"] .slds-input__icon {
    display: none !important;
}

.THIS .productCategoryContent {
    margin: 0px 135px 48px;
}
.THIS .lastCategory {
    display: flex;
    justify-content: space-between;
}

.THIS .lastCategory p{
    text-align: left !important;
    display: inline-flex;
    width: 260px;
}

.THIS .lastCategory button{
    align-self: center;
}

.THIS .globalProductItemBlurbBtn {
    justify-content: center;
    display: flex;

}
.THIS .globalProductItemBlurbBtn button {
    background-color: black;
    border-color: black;
    border-radius: 25px;
    color: white;
    width: 100px;
    height: 50px;
    font-family: "Helvetica Now Var",Helvetica;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 100;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.48px;

}

.THIS .globalProductItemBlurbBtn button:nth-child(2) {
    background-color: #D9E409;
    border-color: #D9E409;
    color: black;

}

.THIS .slds-breadcrumb>li>a {
    font-size: 19px;
}

.THIS .productCategoryContent a {
    display: grid;
}


@media only screen and (max-width: 600px) {
    
    .THIS {
        padding: 48px 24px;
    }

    .THIS .title {
        font-size: 12px !important;
    }

    .THIS .heading {
        font-size: 40px !important;
        line-height: 48px !important; /* 120% */
    }
    
    .THIS .searchContent {
        padding: 0;
    
    }

    .THIS .slds-gutters {
        display: inherit;
        margin-right: 0;
        margin-bottom: 48px;
    }

    .THIS .categoryContent {
        padding: 48px 0;
    }

    .THIS .productCategoryContent {
        margin: 0;
    }

    .THIS .breadcrumbsContent {
        height: 0;
        padding-bottom: 0;
    }

    .THIS .div--product-item-box {
        margin-top: 0;
        margin-right: 0;
    }

    .THIS .slds-breadcrumb>li>a {
        font-size: 10px;
    }

    .THIS .lastCategory {
        justify-content: space-between;
        display: flex;
    }
    .THIS .lastCategory button {
        align-self: center;

    }

}

@media only screen and (min-width: 601px) and (max-width: 1400px) {

    .THIS .categoryContent {
        padding: 30px 0px 0 70px;
    }

    .THIS .productCategoryContent {
        margin: 0;
    }

}