.THIS .inlineDisplay {
	display: inherit;
}

.THIS .slds-item_labelv2 {
	width: 13%;
    padding-right: .75rem;
}

.THIS .slds-item_labelv3 {
	width: 21%;
    padding-right: .75rem;
}

.THIS .productImage {
	margin: auto; 
	display: block;
    height: auto;
    width: auto;
	max-width: 150px;
	max-height: 150px;
}