.THIS .diySlider label {
    visibility: hidden;
    display: none;
}

.THIS .confidenceSlider label {
    visibility: hidden;
    display: none;
}

/*.THIS .submitButton {
    display: inline-block;
    height: 60px;
    align-content: center;
}*/

.THIS .submitButtonParentContainer {
    text-align: center;
}

.THIS .submitButtonContainer {
    display: inline-block;
    width: 250px;
    height: 60px;
}

.THIS .submitButtonContainer .submitButton {
    height: 100%;
    width: 100%;
}








/* for review */

.THIS *,
.THIS *:before,
.THIS *:after {
    box-sizing: border-box;
}

.THIS h4 {
    color: #CCCB2B;
}

.THIS input,
.THIS input[type="radio"] + label,
.THIS input[type="checkbox"] + label:before,
.THIS select option,
.THIS select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.THIS input[type="radio"] + label {
    padding: 1em !important;
}

.THIS input:focus {
    outline: 0;
    border-color: #64ac15;
}

.THIS input:focus + .input-icon i {
    color: #CCCB2B;
}

.THIS input:focus + .input-icon:after {
    border-right-color:#CCCB2B;
}

.THIS input[type="radio"] {
    display: none;
}

.THIS input[type="radio"] + label {
    display: inline-block;
    width: 9%;
    text-align: center;
    /*float: left;*/
    border-radius: 0;
}

.THIS input[type="radio"] + label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.THIS input[type="radio"] + label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.THIS input[type="radio"] + label i {
    padding-right: 0.4em;
}

.THIS input[type="radio"]:checked + label,
.THIS input:checked + label:before,
.THIS select:focus,
.THIS select:active {
    background-color: #CCCB2B;
    color: #fff;
    border-color: #64ac15;
}

.THIS input[type="checkbox"] {
    display: none;
}

.THIS input[type="checkbox"] + label {
    position: relative;
    display: block;
    padding-left: 1.6em;
}

.THIS input[type="checkbox"] + label:before {
    position: absolute;
    top: 0.2em;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0;
    content: "";
}

.THIS input[type="checkbox"] + label:after {
    position: absolute;
    top: 0.45em;
    left: 0.2em;
    font-size: 0.8em;
    color: #fff;
    opacity: 0;
    font-family: FontAwesome;
    content: "\f00c";
}

.THIS input:checked + label:after {
    opacity: 1;
}

.THIS select {
    height: 3.4em;
    line-height: 2;
}

.THIS select:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.THIS select:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.THIS select:focus,
.THIS select:active {
    outline: 0;
}

.THIS select option {
    background-color: #CCCB2B;
    color: #fff;
}

.THIS .input-group {
    margin-bottom: 1em;
    zoom: 1;
}

.THIS .input-group:before,
.THIS .input-group:after {
    content: "";
    display: table;
}

.THIS .input-group:after {
    clear: both;
}

.THIS .input-group-icon {
    position: relative;
}

.THIS .input-group-icon input {
    padding-left: 4.4em;
}

.THIS .input-group-icon .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.4em;
    height: 3.4em;
    line-height: 3.4em;
    text-align: center;
    pointer-events: none;
}

.THIS .input-group-icon .input-icon:after {
    position: absolute;
    top: 0.6em;
    bottom: 0.6em;
    left: 3.4em;
    display: block;
    border-right: 1px solid #e5e5e5;
    content: "";
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.THIS .input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.THIS .row {
    zoom: 1;
}

.THIS .row:before,
.THIS .row:after {
    content: "";
    display: table;
}

.THIS .row:after {
    clear: both;
}

.THIS .col-half {
    width: 50%;
    display: inline-block;
}

.THIS .col-half:last-of-type {
    padding-right: 0;
    display: inline-block;
}

.THIS .col-third {
    padding-right: 10px;
    width: 33.33333333%;
    display: inline-block;
}

.THIS .col-third:last-of-type {
    padding-right: 0;
    display: inline-block;
}

@media only screen and (max-width: 740px) {
    .THIS .col-half {
        width: 100%;
        padding-right: 0;
    }

    .THIS input[type="radio"] + label {
        padding: 1px !important;
    }
}

.THIS .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.THIS .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.THIS .container {
    /*width: 75%;
    padding: 1em 3em 2em 3em;
    margin: 0em auto;*/
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.THIS .logocontainer {
    width: 250px;
    display: inline-block;
}

.THIS .logocontainer img {
    max-height: 100%;
    max-width: 100%;
}

.THIS .logoparentcontainer {
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 980px) {
    .THIS .datadiv {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

/* Tablet */
@media screen and (max-width: 979px) {
    .THIS .datadiv {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/* Mobile */
@media screen and (max-width: 500px) {
    .THIS .containersides {
        visibility: hidden;
        clear: both;
        float: left;
        /* margin: 10px auto 5px 20px;
        width: 28%; */
        display: none;
    }
    .THIS .datadiv {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.THIS .fa {
    padding-top: 16px;
    padding-left: 6px;
}

.THIS .sectionheader {
    color: #CCCB2B;
    font-size: 29px;
    font-weight: 500;
}

.THIS .questiontitle {
    color: #CCCB2B;
}

.THIS hr {
    margin: 0rem 0rem 1.5rem 0rem;
}