.THIS .registering {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .small-spinner {
    height: 40px;
    width: 40px;
}

.THIS .font-color-darkgray {
    color: #333;
}

.THIS .loginButton {
    background-color: #f48026;
    border: none;
    color: #fff;
    height: 35px;
    margin: 5px 0 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    border-radius: 4px;
}

.THIS .error-container {
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-weight: 400;
}

.THIS .salutation .slds-select_container {
    width: 30%;
}

.THIS .salutation > label {
    color: black;
}

.THIS .input-container {
    padding: 5px;
    color: black;
    font-size: 0.875rem;
}

.THIS .input-container .slds-form-element__label,
.THIS .input-label {
    color: #cc0000;
    font-size: 0.875rem;
}

.THIS .input {
    font-weight: 300;
    -webkit-appearance: none;
}

.THIS .input input,
.THIS .slds-lookup__search-input {
    border: unset;
}

.THIS .select-width--50pct .slds-select_container {
    width: 50%;
}

.THIS .padding-right--1pct {
    padding-right: 1%;
}

.THIS .padding-left--1pct {
    padding-left: 1%;
}

.THIS .not-required label {
    color: black !important;
}

.THIS .webkit-inline-box {
    display: -webkit-inline-box;
}

.THIS .profession-has-error input {
    border: 2px solid rgb(194, 57, 52) !important;
}

.THIS .error-message {
    color: rgb(194, 57, 52);
}

.THIS .slds-form-element__help {
    font-size: 0.8125rem;
}

.THIS .slds-select_container::before { 
    border-bottom: none;
}

.THIS .slds-select_container::after { 
    top: 1rem;
}