.THIS .fontSize {
    font-size: 17px;
}

.THIS .removeBorder {
    border: none !important;
    color: black;
}

.THIS .paddingText {
    padding-top: 4px;
    margin-top: 8px;
}

.THIS .padding-top--4px {
    padding-top: 8px;
    margin-top: 10px;
}

.THIS .lineSeparator {
    font-size: 25px;
}

.THIS .slds-icon-action-follow {
    background-color: #aaaaaa;
}

.THIS .slds-icon-action-share-poll {
    background-color: #aaaaaa;
}

.THIS .marginTop {
    margin-top: 18px;
}

.THIS .padding-top--7px {
    padding-top: 7px;
}

.THIS .margin-top-bottom--2pct {
    margin-top: 2%;
    margin-bottom: 2%;
}