.THIS .categoryImage {
    margin: auto;
    display: block;
    height: 150px;
    width: 150px;
}

.THIS .inputAddress {
    z-index: 100 !important;
}

.THIS .inputText {
    border-color: #ccc;
}

.THIS .dd__input-select--border {
    border: 1px solid #ccc;
}

.THIS .addressNotFound {
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-right: 5px;
}

.THIS .addressNotFoundBorder {
    line-height: 25px;
}

.THIS .brandButton {
    background-color: #f48026;
    border: none;
}

.THIS .cancelButton {
    background-color: black;
    border: none;
}

.THIS .changeSelectionBtn,
.THIS .changeSelectionBtn:hover {
    background-color: #f48026;
    border: none;
}

.THIS .span--font-size {
    font-size: 1.25em;
}

.THIS .article__margin-top {
    margin-top: 2%;
}

.THIS .span__lightning-icon svg {
    fill: white;
}

.THIS .div--bg-color-black {
    background-color: black;
}

.THIS .div__span--font-style {
    font-weight: bold;
    color: #f48026;
}

.THIS .div--width-100pct {
    width: 100%;
}

.THIS .div--bg-color-brand,
.THIS .footer__lightning-button,
.THIS .footer__lightning-button:hover {
    background-color: #f48026;
}

.THIS .footer__lightning-button,
.THIS .footer__lightning-button:hover {
    border-color: #f48026;
}

.THIS .footer--border-top-none {
    border-top: none;
}

.THIS .h2--font-color {
    color: white;
}

.THIS .font-color-red {
    color: red;
}

.THIS .div--justify-content-start {
    justify-content: start;
}

.THIS .globalProductItemButton:hover {
    background-color: rgb(244, 128, 38);
}

.THIS .div--display-block {
    display: block;
}

.THIS .div-media-figure {
    width: auto;
}

.THIS .div-media--text {
    text-align: left;
    padding-left: 0.5rem;
}

.THIS .div--custom-slds-wrap {
    flex-wrap: initial;
}

.THIS .header-text {
    text-align: initial;
    display: initial;
    width: auto;
    margin: auto;
    place-content: initial;
}

@media only screen and (max-width : 768px) {
    .THIS .div-media--text {
        text-align: center;
        padding-left: 0;
        flex: none;
        width: 100%;
    }

    .THIS .header-text {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: auto;
    }

    .THIS .div--custom-slds-wrap {
        flex-wrap: wrap;
    }

    .THIS .div-media-figure {
        width: 100%;
    }
}