.THIS {
    /* Heading/H3 - 48 Bold */
    font-family: "Helvetica Now Var", Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.48px;    
    margin: 64px 135px 48px;
}

.THIS .productKitTitle{
    font-family: "Helvetica Now Var", Helvetica;
    font-style: normal;
    font-weight: 700;   
}

.THIS .productKitModel {
    font-weight: 300;
}

.THIS .productImage {
    width: 4rem;
    height: 4rem;
}

.THIS .productTitle {
    font-family: Montserrat;
    font-size: 0.80rem; 
    font-weight: bold; 
    text-align: center;   
}

.THIS .productModel {
    font-size: 0.65rem;
    font-weight: 300;  
    text-align: center;  
}

.THIS .outputlabel{
    font-family: "Helvetica Now Var", Helvetica;
    font-style: normal;
	font-size: 0.80rem; 
	font-weight: 300;  
    text-align: center;  
}

.THIS .serialLabel {
    font-size: small;
    text-align: left;
}

.THIS .serialInput {
    min-height: 0;
    width: 70%;
    margin-left: 0.2em;
}

.THIS .dateInput {
    min-height: 0;
    width: 70%;
    margin-left: 0.2em;	
}

.THIS .whitespace {
    height: 30px;
}

.THIS .hidden {
    display: none;
}

.THIS .width30p {
    width: 100px;
}

/*for file upload*/
.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .small-spinner {
    height: 20px;
    width: 20px;
}

.THIS .file {
    margin-bottom: 5px;
    display: block;
}

.THIS .serial {
    width: 10px;
}
.THIS .inputWidth {
    max-width: 200px
}

.THIS .inputWidthSerial {
    max-width: 120px
}


.THIS .inputWidthWeek {
    max-width: 50px;
}

.THIS .inputWidthYear{
    min-width: 60px;
    max-width: 60px;
    padding-left: 8px; 
    padding-right: 8px;

}

.THIS .progress1 {
    width: 10%;
}

.THIS .progress2 {
    width: 20%;
}

.THIS .progress3 {
    width: 30%;
}

.THIS .progress4 {
    width: 40%;
}

.THIS .progress5 {
    width: 50%;
}

.THIS .progress6 {
    width: 60%;
}

.THIS .progress7 {
    width: 70%;
}

.THIS .progress8 {
    width: 80%;
}

.THIS .progress9 {
    width: 90%;
}

.THIS .progress10 {
    width: 100%;
}

.THIS .helperImage {
    height: 20px;
    width: 20px;
}

.THIS .globalInput {
    border: 2px solid #ccc;
}

.THIS h2 {
    background: none !important;
}

.THIS .globalProductTitle {
    font-family: "Helvetica Now Var", Helvetica;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.48px;
}

.THIS .globalBoxInner {
    padding: 5px 5px 5px 0px;
}

.THIS .assetImageContainer {
    display: flex;
    height: 595px;
    width: 63%;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    background: var(--backgrounds-super-light-grey-f-9-f-9-f-9, #F9F9F9);
}

.THIS .productContainer {
    text-align: left;
    padding-left: 75px;
    width: 360px;
    line-height: 20px;
}

.THIS .serialContainer {
    align-content: stretch;
    display: inline-grid;
}

.THIS .slds-float--left {
    margin: 10px 0px;
}

.THIS .globalProductItemButton {
    background-color: #c3d106;
    border: none;
    color: #fff;
    margin: 5px 5px 0 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 24px 15px 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 50px;
}

.THIS .backBtn {
    background: var(--monochrome-dark-grey-222222, #222);
    color: white;
}

.THIS .SaveBtn {
    color: black;
}

.THIS #file {
    display: none;
}

.THIS .file-style {
    display: flex;
    padding: 15px 24px 15px 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 50px;
    border: 1px solid var(--monochrome-black-line-10, rgba(0, 0, 0, 0.10));
    background: var(--monochrome-light-grey-f-5-f-5-f-5, #F5F5F5);
    cursor: pointer;
}

.THIS .receiptImage{
    max-width:50%;
}

.THIS .receiptImageContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.THIS .btnActions {
    display: grid;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    padding: 24px 0px;
}

.THIS .datePicker-openIcon {
    display: none;
}

.THIS .serialContainer {
    align-content: stretch;
    display: inline-grid;
}
.THIS .slds-float--left {
    margin: 10px 0px;
}

.THIS .globalerrordisplay {
    color: red;
}

.THIS .globalPromptTitle {
    background-color: #D9E409;
}

.THIS .slds-modal__footer .globalProductItemButton {
    width: 290px;
}

.THIS .slds-progress-bar__value {
    background: var(--ryobi-ryobi-hyper-green-d-9-e-409, #D9E409);
}

@media only screen and (max-width: 600px) {

    .THIS {
        margin: 40px 24px 48px;
    }

    .THIS .assetImageContainer {
        height: auto;
        width: auto;
        padding: 10px;
    }

    .THIS .globalProductTitle {
        font-size: 24px;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.24px;
    }

    .THIS .productKitTitle {
        font-size: 24px;
    }

    .THIS .productContainer {
        padding-top: 20px;
        padding-left: 0;
        width: auto;
    }


}