.THIS .productKitTitle {
    font-weight: bold;
}

.THIS .productKitModel {
    font-weight: 300;
}

.THIS .productTitle {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.THIS .outputlabel {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
}

.THIS .whitespace {
    height: 30px;
}

.THIS .width--100px {
    width: 100px;
}

.THIS .inputWidth {
    max-width: 200px;
}

.THIS .inputWidthSerialSmall {
    max-width: 90px;
    padding-left: 8px;
    padding-right: 8px;
}

.THIS .inputWidthSerialMedium {
    max-width: 120px;
    padding-left: 8px;
    padding-right: 8px;
}

.THIS .inputWidthSerialLarge {
    max-width: 170px;
    padding-left: 8px;
    padding-right: 8px;
}

.THIS .inputWidthSerialXLarge {
    max-width: 240px;
    padding-left: 8px;
    padding-right: 8px;
}

.THIS .inputWidthWeek {
    min-width: 40px;
    max-width: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.THIS .inputWidthYear {
    min-width: 60px;
    max-width: 60px;
    padding-left: 8px;
    padding-right: 8px;
}

.THIS .progress1 {
    width: 10%;
}

.THIS .progress2 {
    width: 20%;
}

.THIS .progress3 {
    width: 30%;
}

.THIS .progress4 {
    width: 40%;
}

.THIS .progress5 {
    width: 50%;
}

.THIS .progress6 {
    width: 60%;
}

.THIS .progress7 {
    width: 70%;
}

.THIS .progress8 {
    width: 80%;
}

.THIS .progress9 {
    width: 90%;
}

.THIS .progress10 {
    width: 100%;
}

.THIS .helperImage {
    height: 20px;
    width: 20px;
}

.THIS .kitImage {
    height: 75px;
    width: 75px;
}

.THIS .globalInput {
    border: 2px solid #ccc;
}

.THIS .globalBox2 {
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.THIS .globalProductTitle {
    background-color: #f48026;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
    color: white;
}

.THIS .globalBoxInner {
    padding: 5px 5px 5px 5px;
}

.THIS .globalProductItemButton {
    background-color: #f48026;
    border: none;
    color: #fff;
    height: 27px;
    margin: 5px 5px 0 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
}

.THIS .globalPromptTitle {
    background-color: #f48026;
    color: white;
}

.THIS lightning-file-upload .slds-form-element__label,
.THIS .slds-file__title.slds-file__title_card.slds-truncate {
    display: none;
}

.THIS lightning-file-upload .slds-button_neutral {
    color: white;
    background-color: #f48026;
}

.THIS .span--font-size {
    font-size: 1.25em;
}

.THIS .span__lightning-icon svg {
    fill: white;
}

.THIS .footer--border-top-none {
    border-top: none;
}

.THIS .div--width-100pct {
    width: 100%;
}

.THIS .div__label--padding,
.THIS .div--padding {
    padding-left: 5px;
    padding-right: 5px;
}

.THIS .div--padding-5px {
    padding: 5px;
}

.THIS .div--font-weight {
    font-weight: bold;
}

.THIS .div--max-width-75px {
    max-width: 75px;
}

.THIS .div--max-width-200px {
    max-width: 200px;
}

.THIS .p__span--font-size-14px {
    font-size: 14px;
}