.THIS dt,
.THIS dd {
    font-size: 1.2em;
}

.THIS .dt-item {
    padding-top: 1%;
}

.THIS .divContainer {
    display: inherit;
    width: 100%;
}

.THIS .productImage {
    display: block;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.THIS .bg-color__black {
    background-color: #040404;
}

.THIS .div-carousel-container {
    max-width: 150px;
    max-height: 150px;
}

@media screen and (max-width: 600px) {
    .THIS .divContainer,
    .THIS .dt-item {
        display: block;
        width: 100%;
    }

    .THIS dt,
    .THIS dd {
        font-size: 1em;
    }

    .THIS b {
        display: block;
        text-align: left;
    }
}