.THIS .carousel-image {
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
}

.THIS .div-border--none {
    border: none;
}

.THIS .slds-carousel__indicator-action:focus,
.THIS .carousel-brand-indicator,
.THIS .carousel-brand-indicator:hover {
    background: #f48026;
    border-color: #f48026;
}

.THIS .div-media--text {
    text-align: left;
    padding-left: 0.5rem;
}

.THIS .div-media--padding-top {
    padding-top: 1.5rem;
}

.THIS .div--custom-slds-wrap {
    flex-wrap: initial;
}

.THIS .div-media-figure {
    width: auto;
}

.THIS .font-color-red {
    color: red;
}

@media only screen and (max-width : 768px) {
    .THIS .div-media--text {
        text-align: center;
        padding-left: 0;
        flex: none;
        width: 100%;
    }

    .THIS .div-media--padding-top {
        padding-top: 0;
    }

    .THIS .div--custom-slds-wrap {
        flex-wrap: wrap;
    }

    .THIS .div-media-figure {
        width: 100%;
    }
}