.THIS .categoryImage {
	margin: auto; 
	display: block;
    height: auto;
    width: auto;
	max-width: 150px;
	max-height: 150px;
}

.THIS .inputMIL {
	display: inline-block;
}
.THIS .inputAddress {
	z-index: 100 !important;
}


.THIS .inputText {
	border-color: #ccc;
}

.THIS .globalInput{
    border: 1px solid #ccc;
}

.THIS .addressNotFound{
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-right: 5px;
}
.THIS .addressNotFoundBorder{
    line-height: 25px;
}