.THIS{
    font-family: Lato;
}

.THIS .productKitTitle{
    font-family: Montserrat;
	font-weight: bold;    
}

.THIS .productKitModel{
	font-weight: 300;    
}

.THIS .productImage{
    width: 4rem;
    height: 4rem;
}

.THIS .productTitle{
    font-family: Montserrat;
	font-size: 0.80rem; 
	font-weight: bold; 
    text-align: center;   
}

.THIS .productModel{
	font-size: 0.65rem;
	font-weight: 300;  
    text-align: center;  
}

.THIS .serialLabel{
	font-size: small;
    text-align: left;
}

.THIS .serialInput{
	min-height: 0;
	width: 70%;
	margin-left: 0.2em;	
}

.THIS .dateInput{
	min-height: 0;
	width: 70%;
	margin-left: 0.2em;	
}

.THIS .whitespace{
    height: 30px;
}

.THIS .hidden{
	display: none;
}

.THIS .width30p{
    width: 30%;
}

/*for file upload*/
.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .small-spinner {
    height: 20px;
    width: 20px;
}

.THIS .file {
    margin-bottom: 5px;
    display: block;
}

.THIS .serial {
    width: 10px;
}

.THIS .inputWidth{
    max-width: 200px
}

.THIS .inputWidthWeek{
    max-width: 50px;
}

.THIS .inputWidthYear{
    max-width: 70px;
}

.THIS .globalPromptTitle {
    background-color: #cccc1b;
    color: white;
}

.THIS .globalBox2 {
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.THIS .cEditProductRegistration {
    font-family: Montserrat;
}

.THIS .globalBoxInner {
    padding: 5px 5px 5px 5px;
}

.THIS .globalProductTitle {
    background-color: #f48026;
    font-family: Montserrat;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
    color: white;
}

.THIS .globalButton {
    background-color: #f48026;
    border: none;
    color: #fff;
    height: 27px;
    margin: 5px 5px 0 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
}

.THIS .helperImage {
    height: 20px;
    width: 20px;
}

.THIS .cEditProductRegistration .outputlabel {
    /*font-family: Montserrat;*/
    font-size: .80rem;
    font-weight: 300;
    text-align: center;
}

.THIS .globalInput {
    border: 2px solid #ccc;
    border-radius: .25rem;
}

.THIS .input {
    line-height: normal;
}

.THIS .width30p {
    width: 100px;
}