.THIS .form-field {
    border: 1px solid #c9b7a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #CCC;
    padding: 6px;
    color: black;
    font-weight: 400;
    width: 50%;
}

.THIS .form-field:focus {
    background: #fff;
    color: black;
}

/*Lookup Results per item inside main container*/
.THIS .slds-lookup__result-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin: 0; 
    font-weight: 500;
    width: 100%;
    cursor: context-menu;
    padding-left: 12px;
}


/*per item in list*/
.THIS .slds-lookup__result-text:hover {
    color: white;
    background-color: #1589ee;
    width: 100%;
    cursor: context-menu;
    
}

.THIS ::selection {
    background: #d8edff;
    text-shadow: none;
    color: #080707; 
}

/* searched item, text itself */
.THIS .searchedItem {
    color: black;
    text-decoration: none;
    transition: color 0.1s linear; 
}

/* searched item, <a> */
.THIS a:hover {
    color: white;
    cursor: context-menu;
} 

.THIS a:focus {
    cursor: context-menu;
}

.THIS a:active {
    cursor: context-menu;
}

.THIS a {
    cursor: context-menu; 
}