.THIS#footer {
    padding: 0px 10px 0px 10px;
}
.THIS .app-footer__secondary {
    background-color: #3f3e3e;
    color: #ffffff;
    font-size: 0.75em;
    padding: 15px 0px 15px 15px;
}

.THIS a .legal {
    color: #42b3ee;
    text-decoration: none;
}

.THIS .footerMain {
    height: 105px;
    font-family: "Helvetica Now Var", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding-top: 35px;
    border-top: 1px solid var(--monochrome-black-line-10, rgba(0, 0, 0, 0.10));
}

.THIS .footerContainer{
    display: contents;
}

.THIS #footerLogo {
    width: 171px;
    height: 46px;
    flex-shrink: 0;
    align-self: center;
}

.THIS .footerLinks {
    width: -webkit-fill-available;
    justify-content: end;
    display: inline-flex;

}

.THIS .footerLinks a {
    padding: 25px 29px;
}

.THIS .socialButtonSection a {
    display: none;
}

.THIS .footerContact p {
    padding: 5px 0px 25px 0px;
    /* Paragraph/PXS-R - 12 */
    font-family: "Helvetica Now Var", Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.12px;
    display: inline-block;

}

.THIS .footerContact p:nth-child(2) {
    float: right;
}

.THIS .goToRyobiAustralia {
    align-items: right;
}

.THIS .goToRyobiAustralia a {
    display: flex;
    width: 290px;
    padding: 15px 22px 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 50px;
    background: var(--ryobi-ryobi-hyper-green-d-9-e-409, #D9E409);
    color: var(--monochrome-dark-grey-222222, #222);
    border: 0;
    text-decoration:none;
}

.THIS .goToRyobiAustralia button {
    display: flex;
    width: 260px;
    padding: 15px 22px 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 50px;
    background: var(--ryobi-ryobi-hyper-green-d-9-e-409, #D9E409);
    color: var(--monochrome-dark-grey-222222, #222);
    border: 0;
}


@media only screen and (max-width: 600px) {

    .THIS {
        border-top: 1px solid var(--monochrome-black-line-10, rgba(0, 0, 0, 0.10));
        padding-top: 48px;
    }

    .THIS .footerMain {
        display: contents;
    }

    .THIS .footerLinks {
        display: grid;
        justify-content: left;
    }

    .THIS .footerLinks a {
        padding: 32px 0px 0px 12px;
    }

    .THIS .goToRyobiAustralia {
        display: none;
    }

    .THIS .socialButtonSection {
        padding-top: 25px;

    }

    .THIS .socialButtonSection a{
        display: inline;
        padding: 0px 5px 0px 10px;
    }

    .THIS .footerContact p {
        padding: 0 20px 24px;
    }


}